:root {
  --footer-size: 9rem;
  --header-size: 2.4rem;
}

body {
  overflow: hidden;
}

main {
  height: calc(100vh - var(--footer-size));
  overflow-y: scroll;
  padding-bottom: 3rem;
}

footer {
  height: var(--footer-size);
}

#counterLink input[type='checkbox'].form-check-input {
  border: solid var(--bs-card-border-color);
  border-width: 0 0 0 var(--bs-card-border-width);
  height: var(--header-size);
  width: var(--header-size);
}

#counterLink input[type='checkbox'].form-check-input:focus {
  box-shadow: none;
}

#counterLink input[type='checkbox'].form-check-input:checked {
  background-image: url('../image/check.svg');
}

#counterLink input[type='number'].form-control,
#counterLink textarea.form-control,
#counterLink .input-group-text {
  background-color: rgba(var(--bs-body-color-rgb), 0);
  border-color: var(--bs-card-border-color);
}

#counterLink .input-group-text {
  background-color: rgba(var(--bs-body-color-rgb), 0.02);
}

#counterLink .card:not(.bg-light-subtle) * {
  color: rgba(255, 255, 255, 0.5) !important;
  text-decoration-color: rgba(255, 255, 255, 0.5) !important;
}

.tooltip-danger {
  --bs-tooltip-bg: var(--bs-danger);
}

.modal-body > img {
  --drop-shadow: #aaaaaa;
  filter: drop-shadow(0px 0px 2px var(--drop-shadow)) drop-shadow(0px 0px 2px var(--drop-shadow)) drop-shadow(0px 0px 2px var(--drop-shadow)) drop-shadow(0px 0px 2px var(--drop-shadow));
}