:root {
  --card-header-size: 2.5rem;
  --footer-size: 6rem;
  --header-size: 4rem;
}

body {
  animation: gradient 15s ease infinite;
  background: linear-gradient(-45deg, var(--bs-danger-bg-subtle), var(--bs-warning-bg-subtle), var(--bs-primary-bg-subtle), var(--bs-success-bg-subtle));
  background-size: 400% 400%;
  height: 100vh;
  z-index: -100;
}

body::after {
  background: var(--bs-body-bg);
  content: '';
  height: 100%;
  left: 0;
  opacity: 0.85;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: -1;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

header {
  height: var(--header-size);
}

header i {
  height: 16px;
  text-align: center;
  width: 16px;
}

header .dropdown-menu {
  min-width: 100px;
}

main {
  height: calc(100dvh - var(--header-size) - var(--footer-size));
  overflow-y: scroll;
}

footer {
  height: var(--footer-size);
}

.card-header {
  height: var(--card-header-size);
}

.card-header .form-check-input[type=checkbox] {
  border: none;
  border-left: var(--bs-card-border-width) solid var(--bs-card-border-color);
  height: var(--card-header-size);
  width: var(--card-header-size);
}

.card-header .form-check-input[type=checkbox]:before {
  color: var(--bs-light-border-subtle);
  content: '\f00c';
  display: block;
  font-family: 'Font Awesome 5 Free';
  font-size: 100%;
  font-weight: 900;
  height: 100%;
  text-align: center;
  width: 100%;
}

.card-header .form-check-input[type=checkbox]:focus {
  box-shadow: none;
}

.card-header .form-check-input[type=checkbox]:checked {
  --bs-form-check-bg-image: url();
}

.card-header .form-check-input[type=checkbox]:checked:before {
  color: var(--bs-success-text-emphasis);
}

.modal-body > img {
  --drop-shadow: #aaaaaa;
  filter: drop-shadow(0px 0px 2px var(--drop-shadow)) drop-shadow(0px 0px 2px var(--drop-shadow)) drop-shadow(0px 0px 2px var(--drop-shadow)) drop-shadow(0px 0px 2px var(--drop-shadow));
}

.opacity-35 {
  opacity: 0.35;
}

.tooltip-danger {
  --bs-tooltip-bg: var(--bs-danger);
  --bs-tooltip-color: #ffffff;
}